{% extends 'base.html' %}

{% block content %}

<h2>Editar Mentor</h2>

<form method="POST">

    <div class="mb-3">

        <label class="form-label">
            Nombre
        </label>

        <input
            type="text"
            name="nombre"
            value="{{ mentor.nombre }}"
            class="form-control"
            required>

    </div>

    <div class="mb-3">

        <label class="form-label">
            Especialidad
        </label>

        <input
            type="text"
            name="especialidad"
            value="{{ mentor.especialidad }}"
            class="form-control"
            required>

    </div>

    <div class="mb-3">

        <label class="form-label">
            Email
        </label>

        <input
            type="email"
            name="email"
            value="{{ mentor.email }}"
            class="form-control"
            required>

    </div>

    <button
        class="btn btn-warning">

        Actualizar

    </button>

</form>

{% endblock %}
