{% extends 'base.html' %}

{% block content %}

<h2>Nuevo Participante</h2>

<form method="POST">

    <div class="mb-3">
        <label class="form-label">Nombre</label>

        <input
            type="text"
            name="nombre"
            class="form-control"
            required>
    </div>

    <div class="mb-3">
        <label class="form-label">Email</label>

        <input
            type="email"
            name="email"
            class="form-control"
            required>
    </div>

    <div class="mb-3">
        <label class="form-label">Teléfono</label>

        <input
            type="text"
            name="telefono"
            class="form-control">
    </div>

    <div class="mb-3">
        <label class="form-label">Equipo</label>

        <select
            name="equipo_id"
            class="form-control">

            {% for equipo in equipos %}

            <option value="{{ equipo.id }}">
                {{ equipo.nombre }}
            </option>

            {% endfor %}

        </select>

    </div>

    <button class="btn btn-success">
        Guardar
    </button>

</form>

{% endblock %}